body {
  margin: 0;
}

.trybewarts-header-logo {
  width: 100px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

.evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-end;
}
